/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/project/metals.sbt
target
.idea
.DS_Store
.metals
.bloop
.vscode
.bsp
.history
doc-generator/.dart_tool
doc-generator/pubspec.lock
docs/dartanalyzer/.dart_tool
